{% extends 'layout.html' %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block sidebar %}
  {% include 'sidebar.html' %}
{% endblock %}

{% block content %}

<style type="text/css" class="init">
  div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
  }
  table>thead>tr>th {
    text-align: center;
  }
  table {
    text-align: center;
  }
  table tfoot th{
    text-align: center;
  }
</style>

<div class="content-wrapper">
	<section class="content-header">
    <h1><i class="fa fa-balance-scale"></i>
      <small>WELCOME to</small>
      BET365
      <small>!</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <div class="panel panel-default" style="margin-top: 10px;">
    <div class="panel-heading">
      <h1 class="panel-title alert alert-info alert-dismissible">Daily Report</h1>
    </div>
    <div class="panel-body">
    <div class="row">
      <div class="form-group col-sm-6">
        <label class="date_range">Date range:</label>
        <div class="input-group">
          <div class="input-group-addon bg-green color-palette">
            <i class="fa fa-calendar"></i>
          </div>
          <input type="text" class="form-control pull-right" id="reservation">
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label class="date_range">Year Month Day:</label>
        <div class="input-group col-sm-4">
          <div class="input-group-addon bg-green color-palette">
            <i class="fa fa-calendar-minus-o"></i>
          </div>
          <select class="selectpicker" title='Choose one of the following...'>
            <option value="1">Day</option>
            <option value="2">Week</option>
            <option value="3">Month</option>
          </select>
        </div>
      </div>
    </div>
    <div class="fw-container">
    <div class="fw-body">
      <div class="content">
        <table id="table-365" class="display nowrap" cellspacing="0" width="100%">
          <thead>
              <tr>
                  <th>Date</th>
                  <th>Clicks</th>
                  <th>New<br/>Signups</th>
                  <th>New<br/>Depositors</th>
                  <th>Value<br/>of Deposits</th>
                  <th>Number<br/>of Deposits</th>
                  <th>Sports<br/>Turnover</th>
                  <th>Number of<br/>Sports Bets</th>
                  <th>Active<br/>Sports Users</th>
                  <th>Sports<br/>Net Revenue</th>
                  <th>Casino<br/>Net Revenue</th>
                  <th>Poker<br/>Net Revenue</th>
                  <th>Games / Bingo<br/>Net Revenue</th>
                  <th>Total<br/>Net Revenue</th>
                  <th>Affiliate Earnings<br/>Sports</th>
                  <th>Affiliate Earnings<br/>Casino</th>
                  <th>Affiliate Earnings<br/>Poker</th>
                  <th>Affiliate Earnings<br/>Games / Bingo</th>
                  <th>Commissions Due<br/>For This Period</th>
              </tr>
          </thead>
          <tbody class="tbody">
          {% for eachData in data %}
              <tr>              
                <td>{{eachData.dateto}}</td>
                <td>{{eachData.click}}</td>
                <td>{{eachData.nsignup}}</td>
                <td>{{eachData.ndepo}}</td>
                <td>{{eachData.valdepo}}</td>
                <td>{{eachData.numdepo}}</td>
                <td>{{eachData.spotsturn}}</td>
                <td>{{eachData.numsptbet}}</td>
                <td>{{eachData.acsptusr}}</td>
                <td>{{eachData.sptnetrev}}</td>
                <td>{{eachData.casinonetrev}}</td>
                <td>{{eachData.pokernetrev}}</td>
                <td>{{eachData.bingonetrev}}</td>
                <td>{{eachData.netrev}}</td>
                <td>{{eachData.afspt}}</td>
                <td>{{eachData.afcasino}}</td>
                <td>{{eachData.afpoker}}</td>
                <td>{{eachData.afbingo}}</td>
                <td>{{eachData.commission}}</td>
              </tr>      
          {% endfor %}
          </tbody>
          <tfoot>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
</div>


<script type="text/javascript" src="{{ url_for('static', filename='js/pages_customize/bet365.js') }}"></script>
{% endblock %}

{% block aside %}
  {% include 'aside.html' %}
{% endblock %}
