{% extends 'layout.html' %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block sidebar %}
  {% include 'sidebar.html' %}
{% endblock %}

{% block content %}
<div class="content-wrapper">
	<section class="content-header">
        <h1><i class="fa fa-balance-scale"></i>
            <small>You can backup </small>
            DataBase
            <small>!</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Settings</a></li>
            <li class="active">DataBase</li>
        </ol>
    </section>

    <div class="panel panel-default" style="margin-top: 50px;">
        <div class="panel-heading">
            <h1 class="panel-title alert alert-info alert-dismissible">Backup</h1>
        </div>

        <div class="panel-body">
        </div>

        <div class="panel-footer">
            <div class="row">
                <form method="post">
                    <div class="col-lg-2 col-lg-offset-10 col-md-3 col-md-offset-9 col-sm-4 col-sm-offset-8 col-xs-6 col-xs-offset-6">
                        <button class="btn btn-primary form-control" type="submit">Backup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/common/affiliate.API.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pages_customize/issues.js') }}"></script> -->
{% endblock %}

{% block aside %}
  {% include 'aside.html' %}
{% endblock %}