{% extends 'layout.html' %}

{% block aside %}
  {% include 'aside.html' %}
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block sidebar %}
  {% include 'sidebar.html' %}
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="col-xs-12">
    <div class="panel panel-default" style="margin-top: 10px;">
      <div class="panel-heading">
        <h1 class="panel-title alert alert-info alert-dismissible"><i class="fa fa-clipboard"></i> Summary</h1>
      </div>
      <section class="content">
        <div class="panel-body">
          <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="panel-group">
              <label class="date_range"></label>
              <div class="input-group col-sm-4">
                <div class="input-group-addon bg-green color-palette">
                  <i class="fa fa-calendar-minus-o"></i>
                </div>
                <select class="selectpicker" title="Choose one of the following...">
                  <option value="1" selected="">MTD</option>
                  <option value="2">YTD</option>
                  <option value="2">TODAY</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table id="example1" class="table table-bordered table-striped" role="grid" aria-describedby="example1_info">
                  <thead>
                    <tr>
                      <th style="text-align: center;" class="bg-maroon disabled color-palette">No</th>
                      <th style="text-align: center;" class="bg-yellow">Site</th>
                      <th style="text-align: center;" class="bg-yellow">Start date</th>
                      <th style="text-align: center;" class="bg-yellow">End date</th>
                      <th style="text-align: center;" class="bg-yellow">Position on betfy</th>
                      <th style="text-align: center;" class="bg-yellow">Googel Analytics Clicks</th>
                      <th style="text-align: center;" class="bg-yellow">Clicks</th>
                      <th style="text-align: center;" class="bg-yellow">Signups</th>
                      <th style="text-align: center;" class="bg-yellow"># of paying signups</th>
                      <th style="text-align: center;" class="bg-yellow">Commissions</th>
                      <th style="text-align: center;" class="bg-yellow">Currency</th>
                      <th style="text-align: center;" class="bg-yellow">Dollars</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}