{% extends 'layout.html' %}

{% block aside %}
  {% include 'aside.html' %}
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block sidebar %}
  {% include 'sidebar.html' %}
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="col-xs-12">
    <div class="panel panel-default" style="margin-top: 10px;">
      <div class="panel-heading">
        <h1 class="panel-title alert alert-info alert-dismissible"><i class="fa fa-clipboard"></i> Summary</h1>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}