{% extends 'layout.html' %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block sidebar %}
  {% include 'sidebar.html' %}
{% endblock %}

{% block content %}
<div class="content-wrapper">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      {{message}}
      </div>
    {% endfor %}
    {% endif %}
  {% endwith %}

  <section class="content-header">
    <h1>
    <i class="fa fa-balance-scale"></i>
      WELCOME
      <small>to AFFILIATE ADMIN!</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>
  <section>
  <div class="col-xs-12">
  <div class="panel panel-default" style="margin-top: 10px;">
    <div class="panel-heading">
      <h1 class="panel-title alert alert-info alert-dismissible"><i class="fa fa-clipboard"></i> Summary</h1>
    </div>
    <section class="content">
      <div class="panel-body">
        <div class="box">
          <div class="box-body">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
              <div class="panel-group">
              <label class="date_range"></label>
              <div class="input-group col-sm-4">
                <div class="input-group-addon bg-green color-palette">
                  <i class="fa fa-calendar-minus-o"></i>
                </div>
                <select class="selectpicker" title="Choose one of the following...">
                  <option value="1" selected="">MTD</option>
                  <option value="2">YTD</option>
                  <option value="2">TODAY</option>
                </select>
              </div>
            </div>
              <div class="row">
                <div class="col-sm-12">
                  <table id="example1" class="table table-bordered table-striped" role="grid" aria-describedby="example1_info">
                  <thead>
                    <tr>
                      <th style="text-align: center;" class="bg-maroon disabled color-palette">No</th>
                      <th style="text-align: center;" class="bg-yellow">Site</th>
                      <th style="text-align: center;" class="bg-yellow">Date</th>
                      <th style="text-align: center;" class="bg-yellow">Position on betfy</th>
                      <th style="text-align: center;" class="bg-yellow">Googel Analytics Clicks</th>
                      <th style="text-align: center;" class="bg-yellow">Clicks</th>
                      <th style="text-align: center;" class="bg-yellow">Signups</th>
                      <th style="text-align: center;" class="bg-yellow"># of paying signups</th>
                      <th style="text-align: center;" class="bg-yellow">Commissions</th>
                      <th style="text-align: center;" class="bg-yellow">Currency</th>
                      <th style="text-align: center;" class="bg-yellow">Dollars</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="text-align: center;">
                      <th style="text-align: center;" scope="row" class="bg-maroon disabled color-palette">1</th>
                      <th style="text-align: center;" class="bg-teal-active color-palette">BET365 OTHER</th>
                      <td>{{data[15].dateto}}</td>
                      <td></td>
                      <td></td>
                      <td>{{data[15].click}}</td>
                      <td>{{data[15].nsignup}}</td>
                      <td></td>
                      <td>{{data[15].ndepo}}</td>
                      <td>{{data[16][0]}}</td>
                      <td class="bg-gray color-palette">{{data[15].ndepo * 100}}</td>
                    </tr>
                    <tr style="text-align: center;">
                      <th style="text-align: center;" scope="row" class="bg-maroon disabled color-palette">1</th>
                      <th style="text-align: center;" class="bg-teal-active color-palette">BET365</th>
                      <td>{{data[0].dateto}}</td>
                      <td></td>
                      <td></td>
                      <td>{{data[0].click}}</td>
                      <td>{{data[0].nsignup}}</td>
                      <td></td>
                      <td>{{data[0].ndepo}}</td>
                      <td>{{data[16][0]}}</td>
                      <td class="bg-gray color-palette">{{data[0].ndepo * 100}}</td>
                    </tr>
                    <tr style="text-align: center;">
                      <th style="text-align: center;" scope="row" class="bg-maroon disabled color-palette">3</th>
                      <th style="text-align: center;" class="bg-teal-active color-palette">888</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>{{data[1].clito}}</td>
                      <td>{{data[1].regto}}</td>
                      <td></td>
                      <td>{{data[1].balance}}</td>
                      <td>{{data[16][0]}}</td>
                      <td class="bg-gray color-palette">{{data[1].balance}}</td>
                    </tr>
                    <tr style="text-align: center;">
                      <th style="text-align: center;" scope="row" class="bg-maroon disabled color-palette">4</th>
                      <th style="text-align: center;" class="bg-teal-active color-palette">10BET</td>
                      <td>6/1/2017</td>
                      <td></td>
                      <td></td>
                      <td>{{data[2].clito}}</td>
                      <td>{{data[2].regto}}</td>
                      <td></td>
                      <td>{{data[2].commito}}</td>
                      <td>100 | {{data[16][1]}} | {{(100 * data[10])|round(2, 'floor')}}</td>
                      <td class="bg-gray color-palette">{{(data[2].commission * data[10])|round(2, 'floor')}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
    </div>
  </div>
  </section>
  <section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-red">
            <div class="inner">
              <h3>BET365 STATUS</h3>
              <p>{{data[15].commission * 100}} {{data[16][0]}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-balance-scale"></i>
            </div>
            <a href="{{ url_for('bet365') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>BET365</h3>
              <p>{{data[0].balance}} {{data[16][0]}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-balance-scale"></i>
            </div>
            <a href="{{ url_for('bet365') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>888</h3>
              <p>{{data[1].balance}} {{data[16][0]}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-balance-scale"></i>
            </div>
            <a href="{{ url_for('eight88') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>10BET</h3>
              <p>{{(data[2].commission * data[10])|round(2, 'floor')}} {{data[16][0]}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-balance-scale"></i>
            </div>
            <a href="{{ url_for('bet10') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-red">
            <div class="inner">
              <h3>REAL DEAL BET</h3>
              <p>{{(data[3].commission * data[10])|round(2, 'floor')}} {{data[16][0]}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-balance-scale"></i>
            </div>
            <a href="{{ url_for('realDeal') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>SKYBET</h3>
              <p>{{(data[13].commission * data[11])|round(2, 'floor')}} {{data[16][0]}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-balance-scale"></i>
            </div>
            <a href="{{ url_for('skyBet') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>WILLIAM HILL</h3>
              <p>{{(data[12].balance * data[10])|round(2, 'floor')}} {{data[16][0]}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-balance-scale"></i>
            </div>
            <a href="{{ url_for('william') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>LADBROKES</h3>
              <p>{{(data[4].balance * data[11])|round(2, 'floor')}} {{data[16][0]}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-balance-scale"></i>
            </div>
            <a href="{{ url_for('ladBroke') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-red">
            <div class="inner">
              <h3>BETFRED</h3>
              <p>{{(data[5].commission * data[11])|round(2, 'floor')}} {{data[16][0]}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-balance-scale"></i>
            </div>
            <a href="{{ url_for('betFred') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>BET VICTOR</h3>
              <p>???</p>
            </div>
            <div class="icon">
              <i class="fa fa-balance-scale"></i>
            </div>
            <a href="{{ url_for('victor') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>PADDY POWER</h3>
              <p>{{(data[6].balance * data[10])|round(2, 'floor')}} {{data[16][0]}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-balance-scale"></i>
            </div>
            <a href="{{ url_for('paddy') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>NETBET</h3>
              <p>{{data[14].balance}} {{data[16][0]}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-balance-scale"></i>
            </div>
            <a href="{{ url_for('netBet') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-red">
            <div class="inner">
              <h3>TITANBET</h3>
              <p>{{data[7].balance}} {{data[16][0]}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-balance-scale"></i>
            </div>
            <a href="{{ url_for('titanBet') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>STAN JAMES</h3>
              <p>{{data[8].commission}} {{data[16][0]}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-balance-scale"></i>
            </div>
            <a href="{{ url_for('stan') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>CORAL</h3>
              <p>{{data[9].commission}} {{data[16][0]}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-balance-scale"></i>
            </div>
            <a href="{{ url_for('coral') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
  </section>
</div>
{% endblock %}

{% block aside %}
  {% include 'aside.html' %}
{% endblock %}
